.dashboard-control {
	margin: auto;
	display: flex;
	padding: 10px;
	justify-content: space-evenly;
	background-color: #006B38FF;
	border: 5px solid black;
	border-radius: 16px;
	color: white;
}

.command-display {
	max-width: 200px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	background-color: rgba(33, 33, 33, 0.98);
	justify-content: center;
	border: 3px solid #383838;
}

.text-field {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 16px;
	border-top-right-radius: 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: Roboto, Arial, sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 32px;
	min-width: 100px;
	outline-color: rgb(255, 255, 255);
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	text-align: center;
}

.text-field-black {
	align-items: center;
	background-color: rgba(33, 33, 33, 0.98);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 16px;
	border-top-right-radius: 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	display: block;
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-height: 32px;
	min-width: 100px;
	outline-color: rgb(255, 255, 255);
	padding-bottom: 5px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	text-align: center;
}

.number-field {
	border: 2px solid #383838;
	font-size: 20px;
	height: 25px;
	width: 50px;
	padding-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-align: center;	
}

.color-field {
	border: 2px solid #383838;
	height: 31px;
	width: 60px;
	padding-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.button-field {
	width: 90%;
	max-height: 35px;
	padding: 5px;
	font-size: 12px;
	font-weight: 600;
	background-color: rgba(33, 33, 33, 0.98);
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
	position: relative;
	margin: 1px;
}

.button-field:hover {
	background-color: #006B38FF;
	color: #ece8e1;
}

.input-text {
	width: 190px;
	height: 25px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #c3cdc0;
	text-indent: 8px;
	padding: 0px;
}

.input-text:hover {
	border-color: #79a06b;
}

.create-button {
	width: 190px;
	height: 30px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #c3cdc0;
	padding: 0px;
	background-color: rgba(33, 33, 33, 0.98);
	color: #ffffff;
}

.create-button:hover {
	background-color: #0f3301;
	color: #ece8e1;
}

.exit-button {
	width: 190px;
	height: 30px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: #c3cdc0;
	padding: 0px;
	background-color: rgba(33, 33, 33, 0.98);
	color: #ffffff;
	text-align: center;
}

.exit-button:hover {
	background-color: #0f3301;
	color: #ece8e1;
}



