body {
	background-color: #181818;
}

:root {
	--grid-cols: 1;
	--grid-rows: 1;
}

#grid-display {
	height: 0px;
	width: 0px;
	display: grid;
	center: 0;
	
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	
	background-color: black;
	border: 0px solid #006B38FF;
	margin-left: auto;
    margin-right: auto;
}

.grid-item {
	cursor: pointer;
	text-align: center;
	padding-top: 10px;
	color: #00ff00;
}

.grid-item:hover {
    background-color: gray;
}

.grid-item.done {
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}






