
#login_button {
    position: fixed;
    right:60px;
    top:80px;
}

#register_button {
    position: fixed;
    right: 200px;
    top:80px
}

#login_button, #register_button {
    border: 3px solid rgb(65, 65, 110);
    border-radius: 15px;
    color: rgba(29, 29, 110, 0.76);
    background-color: rgba(51, 149, 206, 0.76);
    font-weight: bold;
    font-size: 15px;
    width: 120px;
    height: 40px;
}

#login_button:hover, #register_button:hover {
    background-color: rgb(145, 22, 145);
    color: white;
}

.header_article {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(145, 22, 145);
    
}
article p {
    margin-left: 30px;
    font-size: 17px;
}

#group {
    margin-left: 400px;
}
.team {
    font-size: 18px;
    margin-left: 400px;
}
.member {
    font-weight: bold;
    margin-top: 10px;
}

.fb_icon {
    width:25px;
    height: 25px;
}