.header_page {
    text-align: center;
    border-bottom: 2px solid rgb(27, 27, 104);
    margin-bottom: 50px;
    font-size: 22px;
    color:rgb(74, 147, 231);
    text-shadow: 2px 2px 2px #1b1f8d;
    /*color: linear-gradient(135deg, #251685 0%, #1E76B0 45%, #A7A7C5 100%); */
}

body {
    background-image: url('../images/nardo-verdissimo-1.jpg'), url('../images/N01.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: 1000px 200px, top;
    background-size: auto, cover;  
}

img {
    width: 100px;
    height: 100px;  
}

input {
    border: 3px solid rgb(65, 65, 110);
    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin-top: 12px;
}

table {
    border: 2px solid rgb(30, 30, 56);
    padding: 20px;
    background-color: rgb(175, 214, 236);
    
    margin: auto;
}

#title {
    text-align: center;
    font-style:italic;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid rgb(30, 30, 56);
    padding-bottom: 8px;
    color:rgba(29, 29, 110, 0.76);
}

#login_button, #register_button, #logout_button{
    color: rgba(29, 29, 110, 0.76);
    background-color: rgba(51, 149, 206, 0.76);
    font-weight: bold;
    width: 210px;
}

#logout_button {
    position: fixed;
    right:60px;
    top:10px;
}

#login_button:hover, #register_button:hover {
    background-color: rgb(145, 22, 145);
    color: white;
}

input::placeholder {
 color:rgba(75, 9, 75, 0.86);
}

form {
    position:relative;
}

#errors {
	text-align:center;
	margin-top:20px;
	color:rgb(145, 22, 145);
}
