:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
	height: 0px;
	width: 0px;
	display: grid;
	//grid-gap: 5px;
	
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	
	background-color: black;
}

.grid-item {
	cursor: pointer;
	//padding: lem;
	//border: 3px solid #ddd;
	text-align: center;
}

.grid-item:hover {
    background-color: gray;
}

.grid-item.done {
  background: white;
}


.containerDisplay {
  margin: auto;
  display: flex;
  padding: 10px;
}

.one {
	float: left;
}

.two {
	float: left;
	margin-left: 3%;
}




